body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url("1.png");
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-position: center;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
}

#title {
    background-color: #97d564;
    border-radius: 0;
    margin: auto;
    display: flex;
    border: 5px solid #264b0f;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    z-index: 1000;
    height: 6vh;
    justify-content: center;
    align-items: center;
    max-height: 8vh;
    max-width: 100%;
}

#status {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: rgba(103, 164, 255, 0.6);
    position: fixed;
    top: 8vh;
    width: 100%;
    max-width: 99%;
    left: 0;
    font-weight: bold;
    right: 0;
}

#greeting-time {
    display: flex;
    justify-content: space-between;
    width: 100%; 
    margin-bottom: 10px; 
    right: 1vh;
}

#status-life {
    display: flex; 
    justify-content: space-around; 
    width: 100%; 
    gap: 4px;
}

.life-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#title h1 {
    font-size: 2rem;
    white-space: nowrap;
}

#title img {
    width: 50px;
    height: auto;
    margin-right: 10px;

}

#game-container {
    margin: auto;
    width: 90%;
    padding: 20px;
    border: 5px solid #a8711d;
    border-radius: 10px;
    background-color: #ffffffbd;
    align-items: center;
    flex-direction: column;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

#avatar-selection{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#locations button {
    margin: 5px;
}

#next-button {
    padding: 10px 20px;
    background-color: rgba(135, 113, 25, 0.824);
    border-radius: 40%;
    border: 4px solid rgb(93, 93, 3);
    cursor: pointer;
    margin-left: 15px;
    max-width: 400px;
    box-shadow: none;
    font-size: medium;
}

#input section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 10px auto;
    flex-wrap: wrap;
}
#player-name {
    padding: 10px;
    background-color: rgba(216, 176, 14, 0.824);
    border-radius: 10%;
    border: 4px solid rgb(87, 87, 60);
    max-width: 300px;
    box-shadow: none;
    color: black;
    outline: none;
    width: 70%;
    text-align: center;
    outline: none;
    font-size: medium;
}


.swiper-container {
    width: 90%;
    max-width: 700px;
    height: auto;
    margin: auto;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: auto;
}

.swiper-slide img {
    width: 70%;
    max-height: 300px;
    object-fit: contain;
    border-radius: 10px;
    transition: transform 0.3s ease;
    margin-bottom: 20px;
}

.swiper-slide img:hover {
    transform: scale(1.2);
    cursor: pointer;
}


.swiper-button-next,
.swiper-button-prev {
    color: white;
    background-color: rgba(128, 152, 230, 0.708);
    padding: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    color: rgb(7, 94, 40);
    cursor: pointer;
    transform: scale(1.2);
}

.swiper-pagination-bullet {
    background-color: white;
    opacity: 0.5;
    width: 12px;
    height: 12px;
}

.swiper-pagination-bullet-active {
    background-color: yellow;
    opacity: 1;
}

.bar {
    display: flex;
    width: 100px;
    height: 15px;
    background: #ddd;
    border-radius: 10px;
    overflow: hidden;

}

.fill {
    display: flex;
    height: 100%;
    background: green;
}

#game-interface {
    background-image: url(map-game.jpg);
}

#activity-details {
    display: flex;
    position: fixed;
    justify-content: flex-start;
    align-items: flex-start;
    right: 0;
    background-color: rgb(22, 125, 112);
    flex-direction: column;
    height: 80vh;
    top: 21.5vh;
    text-align: start;
    padding: 10px;
    width: 150px;
    max-width: 300px;
}


@media (max-width: 600px) {
    #title {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }
    
    #title img {
        width: 40px;
        margin-right: 0;
        margin-bottom: 5px;
    }

    #title h1 {
        font-size: 1.2rem;
    }

    @media (max-width: 768px) {
        #activity-details {
            width: 100%; 
            height: auto; 
            max-height: none;
            position: static;
        }
    }
}



